@font-face {
    font-family: lcd;
    src: url(./lcd.ttf);
}
@font-face {
    font-family: digital;
    src: url(./digital.ttf);
}
@font-face {
    font-family: zorque;
    src: url(./zorque.ttf);
}
